TOGETHER_API_KEY
VLM_MODEL_ID
LLM_MODEL_ID
# LLM_MODEL_ID


NEO4J_USER
NEO4J_PASSWORD

QDRANT_HOST
QDRANT_PORT
QDRANT_COLLECTION_NAME

EMBEDDING_MODEL
EMBEDDING_DIM

APP_HOST
APP_PORT
UPLOAD_DIR
DEFAULT_LANGUAGE

GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET

DATABASE_URL