SMTP_HOST
SMTP_PORT
SMTP_USER
SMTP_PASSWORD
SMTP_FROM_NAME

MCP_HOST
MCP_PORT

QDRANT_HOST
QDRANT_PORT
QDRANT_COLLECTION_NAME
EMBEDDING_MODEL_NAME

TOGETHER_API_KEY
VLM_MODEL_ID
LLM_MODEL_ID

POSTGRES_HOST
POSTGRES_PORT
POSTGRES_DB
POSTGRES_USER
POSTGRES_PASSWORD

NEO4J_USER
NEO4J_PASSWORD
