GOOGLE_CLIENT_ID

OPENAI_API_KEY
OPENAI_MODEL
TOGETHER_API_KEY
TOGETHER_MODEL
MCP_HOST
MCP_PORT
AGENT_TOOL_CALL_LIMIT=50
 
POSTGRES_HOST
POSTGRES_PORT
POSTGRES_DB
POSTGRES_USER
POSTGRES_PASSWORD

NEO4J_USER
NEO4J_PASSWORD
